@model CurriculoFrancisco.Models.InformacaoAdicional

@{
    ViewData["Title"] = "Detalho";
}

<h1>Detailho</h1>

<div>
    <h4>Informação Adicional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instituicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instituicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoFormacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoFormacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstituicaoAno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstituicaoAno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volta</a>
</div>
